
.idea/DLGlauncher.iml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/Objects.cpython-37.pyc
__pycache__/text_input.cpython-37.pyc
Kivy/.idea/Kivy.iml
Kivy/.idea/libraries/R_User_Library.xml
Kivy/.idea/misc.xml
Kivy/.idea/modules.xml
Kivy/.idea/vcs.xml
Kivy/.idea/workspace.xml
Kivy/login/image/0acb740b6310a8ac05874cc2edd9d55f.png
Kivy/login/image/DLg.png
Kivy/login/image/DLG_Login_Deutsch_.png
Kivy/login/image/DLgst.png
Kivy/login/image/Haken.png
Kivy/login/image/LoginFenster.png
Kivy/login/image/LogoLauncher1.png
Kivy/login/image/main.png
Kivy/login/image/Mauszeiger.png
Kivy/login/image/Register.png
Kivy/login/main.py
Kivy/login/my.kv
Kivy/login/test.py
Kivy/venv/pyvenv.cfg
login/.idea/libraries/R_User_Library.xml
login/.idea/login.iml
login/.idea/misc.xml
login/.idea/modules.xml
login/.idea/vcs.xml
login/.idea/workspace.xml
php/phpscript.html
